/* #showWeather{
  display: none;
}

#showRover{
  display: none;
}

 #showPic{
  display: none;
}

#picoftheday{
  width: 200px;
} */
.jumbotron{
  display: none;
  border: solid black;
}

h1 {
  text-align: center;
}

.btn {
  border: black solid;
  margin-left: 44%;
  border-radius: 30px;
}

img {
  border: solid black 4px;
  max-width: 100%;
  max-height: 100%;
}

h1{
  /* color: red;
  background-color: rgb(0, 255, 106);
  font-style: italic; */
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
